$main-colour: #ff0000;
$main-colour-darker: #9b0000;
$borders: #c7c7c7;
$borders-darker: #a9a9a9;
$borders-lighter: #dadada;
$text-colour: #484848;
$white: #ffffff;
$light-background: #e9e9e9;
$transparent: #1a100100