<div class="app-navbar">
  <div class="container">
    <div class="navbar-logo">
      <img src="../../assets/monochrome-red.svg" alt="">
    </div>
    <ul class="navbar-menu">
      <li><a href="#home" class="js--scroll-to-home">Home</a></li>
      <li><a href="#store" class="js--scroll-to-store">Store</a></li>
      <li><a href="#contact" class="js--scroll-to-contact">Contact</a></li>
    </ul>
  </div>
</div>
<section class="home-page">
  <div class="slogan-cover">
    <img src="../../assets/v-cover.svg" alt="">
  </div>
</section>
<section class="store">
  <h1>Online Store</h1>
  <div class="container">
    <div class="row" >
      <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let device of devices$">
        <div class="phone-card">
          <div class="device-img">
            <img src="{{device.imageFront}}" alt="">
          </div>
          <div class="device-name">
              {{ device.description }}
          </div>
          <div class="device-price">
            <!-- if price is not 0, render the price, else render the template (free) -->
            <span>from </span><h4 *ngIf="device.priceFrom !== 0; else itsFree">{{ device.priceFrom }}</h4>
          </div>
          <ng-template #itsFree>
            <h4>Free</h4>
          </ng-template>
        </div>
          
      </div>
    </div>
  </div>
</section>