<div class="app-navbar">
  <div class="container">
    <div class="navbar-logo">
      <img src="../../assets/monochrome-red.svg" alt="">
    </div>
    <ul class="navbar-menu">
      <li><a href="#home" (click)="scrollToHomePage()">Home</a></li>
      <li><a href="#store" (click)="scrollToStore()">Store</a></li>
      <li><a href="#contact" (click)="scrollToContacts()">Contact</a></li>
    </ul>
  </div>
</div>
<section id="home" class="home-page-section">
  <div class="slogan-cover">
    <img src="../../assets/v-cover.svg" alt="">
  </div>
</section>
<section id="store" class="store-section">
  <h1>Online Store</h1>
  <div class="filters-div">
      <div class="container">
        <div class="filter-button" (click)="expandFilters()">
          Narrow your search <img src="../../assets/icons/arrow_down.svg" alt="">
        </div>
      </div>
      <div class="filters">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <label for="">Sort by price</label>
              <select class="form-control" name="filterbyprice" id="filterbyprice" >
                <option [ngValue]="lowToHigh">Low to high</option>
                <option [ngValue]="highToLow">High to low</option>
              </select>
            </div>
            <div class="col-sm-6">
              <label for="">Select manufacturer</label>
              <!-- [(ngModel)]="filter.byManufacturer" (change)="onManufacturerSelect(filter.byManufacturer) -->
              <select class="form-control" name="filterbymanufacturer" id="filterbymanufacturer" [(ngModel)]="manufacturer" >
                <option selected value="">Show all devices</option>
                <option *ngFor="let x of devices$" [ngValue]="x.manufacturer" >{{x.manufacturer}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="container">
    <div class="row app-catalog" >
      <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let device of devices$ | byManufacturer:manufacturer">
        <!-- click on the  phone-card div, routes you to phone-info view  -->
        <div class="phone-card" routerLink="/details/{{device.id}}"> 
          <div class="device-img">
            <img src="{{device.imageFront}}" alt="">
          </div>
          <div class="device-name">
              {{ device.extraDescription }}
          </div>
          <div class="device-price">
            <!-- if price is not 0, render the price, else render the template (free) -->
            <span>from </span><h4 *ngIf="device.priceFrom !== 0; else itsFree">€{{ device.priceFrom }}</h4>
          </div>
          <div class="details">
            Full details
          </div>
          <ng-template #itsFree>
            <h4>Free</h4>
          </ng-template>
        </div>
          
      </div>
    </div>
  </div>
</section>
<section class="contact-section">

</section>