<div class="app-navbar">
  <div class="container">
    <div class="navbar-logo">
      <img src="../../assets/monochrome-red.svg" alt="">
    </div>
    <ul class="navbar-menu">
      <li><a href="#home" (click)="scrollToHomePage()" id="menuHome" class="app-navbar-active">Home</a></li>
      <li><a href="#store" (click)="scrollToStore()" id="menuStore">Store</a></li>
      <li><a href="#contact" (click)="scrollToContacts()" id="menuContact">Contact</a></li>
    </ul>
  </div>
</div>
<section id="home" class="home-page-section">
  <div class="slogan-cover">
    <img src="../../assets/v-cover.svg" alt="">
  </div>
</section>
<section id="store" class="store-section">
  <h1>Online Store</h1>
  <div class="filters-div">
      <div class="container">
        <div class="filter-button" (click)="expandFilters()">
          Narrow your search <img src="../../assets/icons/arrow_down.svg" alt="">
        </div>
      </div>
      <div class="filters">
        <div class="container">
          <div class="row">
            <div class="col-sm-6">
              <label for="">Select manufacturer</label>
              <select class="form-control" name="filterbymanufacturer" id="filterbymanufacturer" [(ngModel)]="manufacturer" >
                <option selected value="">Show all devices</option>
                <option *ngFor="let x of onManufacturer$ | uniqueFilter" [ngValue]="x" >{{x}}</option>
              </select>
            </div>
            <div class="col-sm-6">
              <label for="">Sort by price</label>
              <select class="form-control" disabled name="filterbyprice" (chage)="sortByPrice($event)" id="filterbyprice" >
                <option [ngValue]="highToLow">High to low</option>
                <option [ngValue]="lowToHigh">Low to high</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  <div class="container">
    <div class="row app-catalog">
      <div class="col-lg-3 col-md-4 col-sm-6" *ngFor="let device of devices$ | byManufacturer:manufacturer">
        <!-- click on the  phone-card div, routes you to phone-info view  -->
        <div class="phone-card" routerLink="/details/{{device.id}}"> 
          <div class="device-img">
            <img src="{{device.imageFront}}" alt="">
          </div>
          <div class="device-name">
              {{ device.extraDescription }}
          </div>
          <div class="device-price">
            <!-- if price is not 0, render the price, else render the template (free) -->
            <span>from </span><h4 *ngIf="device.priceFrom !== 0; else itsFree">€{{ device.priceFrom }}</h4>
          </div>
          <div class="details">
            Full details
          </div>
          <ng-template #itsFree>
            <h4>Free</h4>
          </ng-template>
        </div>
          
      </div>
    </div>
  </div>
</section>
<section id="contact" class="contacts-section">
  <div class="follow-us">
    <h6>Follow Us</h6>
    <a href="https://www.facebook.com/vodafoneireland"><img src="../../assets/icons/Facebook-icon.png" alt=""></a>
    <a href="https://twitter.com/vodafoneireland"><img src="../../assets/icons/Twitter-icon.png" alt=""></a>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <h5>About Us</h5>
      <p>About Us</p>
      <p>Career</p>
      <p>News &amp; Press Releases</p>
      <p>Accessibility</p>
      <p>Network</p>
    </div>
    <div class="col-sm-4">
      <h5>Support</h5>
      <p>Help with devices <br>
        Home phone &amp; broadband <br>
        Lost or stolen phone <br>
        Internet security advice
      </p>
    </div>
    <div class="col-sm-4">
      <h5>Most Popular</h5>
      <p>iPhone</p>
      <p>Samsung</p>
      <p>Vodafone</p>
      <p>Huawei</p>
      <p>Sony</p>
    </div>
  </div>
  <div class="footer">
    &copy; Vodafone Ireland Limited, 2018
  </div>
</section>