<section class="phone-detail">
  <h1>iPhone 7 Plus 64 Gb</h1>
  
  <div class="container">
      <div class="back-button">
        <a routerLink=""><img src="../../assets/icons/arrow_back.svg" alt=""> Back</a>
      </div>
      <div class="row">
        <div class="col-sm-5">
          <div class="device-photo">
              <img src="https://www.vodafone.ie/image/7P2RG_FRONT.img" alt="">
          </div>
          <div class="photo-gallery">
            <img src="https://www.vodafone.ie/image/7P2RG_FRONT.img" alt="">
            <img src="https://www.vodafone.ie/image/7P2RG_BACK.img" alt="">
            <img src="https://www.vodafone.ie/image/7P2RG_DETAILS.img" alt="">
          </div>
        </div>
        <div class="col-sm-7 device-info">
            <h4></h4>
        </div>
      </div>
    </div>
</section>