<section class="phone-detail">
  <h1>iPhone 7 Plus 64 Gb</h1>
  
  <div class="container">
      <div class="back-button">
        <a routerLink=""><img src="../../assets/icons/arrow_back.svg" alt=""> Back</a>
      </div>
      <div class="row">
        <div class="col-md-5">
          <div class="device-photo">
              <img src="https://www.vodafone.ie/image/7P2RG_FRONT.img" alt="">
          </div>
          <div class="photo-gallery clearfix">
            <img src="https://www.vodafone.ie/image/7P2RG_FRONT.img" alt="">
            <img src="https://www.vodafone.ie/image/7P2RG_BACK.img" alt="">
            <img src="https://www.vodafone.ie/image/7P2RG_DETAILS.img" alt="">
          </div>
        </div>
        <div class="col-md-7 device-info">
            <p>
              Product description text goes here. Amend how you want. Lorem ipsum dolor sit amet, 
              consectetur adipiscing elit. Nunc accumsan aliquet purus at pellentesque. Vivamus congue tortor vel metus imperdiet, 
              at fermentum quam vehicula. Quisque ac nunc dolor. Proin non scelerisque nulla. Nam fermentum ex ac erat vehicula porttitor. 
              Nulla id purus massa.
            </p>
            <ul>
              <li><strong>Manufacturer: </strong> Apple</li>
              <li><strong>Operating System: </strong> IOS</li>
              <li><strong>Display Size: </strong> 5.5in </li>
              <li><strong>Colours: </strong> Rose Gold, Space Grey </li>
            </ul>
            <button class=" btn buy-now">
              Buy now
            </button>
        </div>
      </div>
    </div>
</section>