@import "~bootstrap-scss/bootstrap.scss";
@import "./styles/mixins";

@font-face {
    font-family: SourceSansProRegular;
    src: url('./assets/fonts/SourceSansPro-Regular.ttf');
}
@font-face{
    font-family: SourceSansProLight;
    src: url('./assets/fonts/SourceSansPro-Light.ttf');
}

html,
body{
   padding: 0;
   margin: 0;
   color: $text-colour;
   font-family: 'SourceSansProRegular';
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   text-rendering: optimizeLegibility;
   overflow-x: hidden;
}

li{
   list-style: none;
}
a{
    color: inherit;
}
section h1{
    font-family: 'SourceSansProLight';
    text-align: center;
    display: block;
    padding: 80px 0 30px 0;
    width: 100%;
    border-bottom: 1px solid $borders-lighter;
}
/////////////////////////Navbar/////////////////////////////
.app-navbar{
   content: '';
   width: 100%;
   height: 70px;
   border-bottom: 1px solid $borders;
   position: fixed;
   background: $white;
   top: 0;
   opacity: 0.95;
   z-index: 1000;
}

.navbar-logo{
   display: inline-block;
   img{
    height: 50px;
   }
}
.navbar-menu{
   display: inline-block;
   font-size: 1.2em;
   
   li{
    display: inline-block;
    margin: 20px 20px 20px 20px
   }
}
.navbar-menu > li > a{
    padding: 0 3px 19px 3px;
    border-bottom: 5px solid $transparent;
    transition: ease all .4s;
}
.navbar-menu > li > a:hover{
    text-decoration: none;
    color: $text-colour;
    border-bottom: 5px solid $text-colour;
}
.app-navbar-active{
    color: $main-colour !important;
    border-bottom: 5px solid $main-colour !important;
}



///////////////////Home Page section/////////////////////////////
.home-page-section{
   height: 100vh;
   width: 100%;
   background-image: linear-gradient(90deg, $main-colour, $transparent),  url(./assets/background.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
}
.slogan-cover{
    height: calc(100% - 180px);
    width: 40%;
   
    img{
        margin-top: 200px;
        margin-left: 50px;
        height: inherit;
    }
}

/////////////////////Store Section ////////////////////////////////
.store-section{
    height: auto;
    width: 100%;
    content: '';
    padding-bottom: 60px;
    background: $light-background;
}

.filters-div{
    display: block;
    width: 100%;
}
.filter-button{
    border: 1px solid $borders;
    border-top: none;
    width: 183px;
    padding: 0 4px 4px 10px;
    border-radius: 0 0 7px 7px ;
    transition: ease all .4s;
}
.filter-button:hover{
    border: 1px solid $main-colour;
    border-top: none;
    cursor: pointer;
    // color: $main-colour;
}
.filters{
    height: auto;
    width: 100%;
    border-bottom: 1px solid $borders-lighter;
    padding: 14px 0;
    display: none;
    label{
        margin-bottom: -1px;
    }
;}

.app-catalog{
    padding-top: 14px;
}
.phone-card{
    @include containerTemplate;
    height: 388px;
    width: inherit;
    display: inline-block;
    margin: 20px 10px 0 0;
    z-index: 0;
    text-align: center;
}
.phone-card:hover{
    cursor: pointer;
    @include addShadow;
    .details{
        display: block;
    }
}
.device-img{
    height: 240px;
    img{
        height: inherit;
    }
}
.device-name{
    margin: 10px 0;
}
.device-price{
    color: $main-colour;
    transition: ease all .3s;
    h4{
        display: inline-block;
    }
}
.details{
    margin-top: 3px;
    padding: 4px 10px;
    background: $main-colour;
    color: $white;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
    display: none;
}

//////////////////Contact Section/////////////////////////

.contacts-section{
    background: $text-colour;
    color: $white;
    padding: 80px 30px 40px 30px;
    h6, h5{
        font-family: 'SourceSansProLight';
        margin-bottom: 20px;
    }
    h6 { font-size: 2.2em}
    h5 { font-size: 1.8em }
    .row{
        padding-top: 40px;
    }
    p{
        margin-bottom: 0;
    }
}
.follow-us{
    width: 100%;
    text-align: center;
    img{
        height: 50px;
        margin: 5px;
    }
}
.footer{
    text-align: center;
    font-feature-settings: 'SourceSansProLight';
    font-size: .7em;
    width: 100%;
    padding-top: 20px;
}


/////////////////Media Queries /////////////////////////
@media only screen and (max-width: 490px ){
    .slogan-cover{
        margin-left: -40px;
    }
}

@media only screen and (max-width: 420px){
    .navbar-logo{
        float: left;
        padding-top: 10px !important;
    }
    .navbar-menu{
        li{
            margin: 20px 20px 20px 6px !important;
        }
    }
}

@media only screen and (max-width: 390px){
    .navbar-menu li{
        margin: 20px 16px 20px 6px !important;
    }
}
@media only screen and (max-width: 358px){
    .navbar-menu {
        padding-left: 10px;
        li{
            margin-right: 11px !important;
        }
    }
}

@media only screen and (max-height: 720px )  and (orientation: landscape) {
    .slogan-cover{
        width: auto;
        height: calc(100% - 90px);
        img{
            margin-top: 120px;
        }
    }
}