@import "~bootstrap-scss/bootstrap.scss";
@import "./styles/colours";


html,
body{
   padding: 0;
   margin: 0;
   color: $text-colour;
}

li{
   list-style: none;
}
a{
    color: inherit;
}
/////////////////////////Navbar/////////////////////////////
.app-navbar{
   content: '';
   width: 100%;
   height: 70px;
   border-bottom: 1px solid $borders;
   position: absolute;
   background: $white;
   top: 0;
}

.navbar-logo{
   display: inline-block;
   img{
    height: 50px;
   }
}
.navbar-menu{
   display: inline-block;
   font-size: 1.2em;
   
   li{
    display: inline-block;
    margin: 20px 20px 20px 20px
   }
}
.navbar-menu > li > a{
    padding: 0 3px 21px 3px;
    border-bottom: 5px solid $transparent;
    transition: ease all .4s;
}
.navbar-menu > li > a:hover{
    text-decoration: none;
    color: $main-colour;
    border-bottom: 5px solid $main-colour;
}


///////////////////Home Page section/////////////////////////////
.home-page{
   height: 100vh;
   width: 100%;
   background-image: linear-gradient(90deg, $main-colour, $transparent, $transparent),  url(./assets/background.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;

   content: '';
}
